rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /resources/{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /rrdbInbox/{document=**} {
      allow read, delete: if request.auth != null;
    }
    match /RRDBEventLog/{document=**} {
      allow create: if true;
    }
  }
}
